<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/theme.css">
    </head>
    <body>
        <h1><center>Library</center></h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by author or book, or all to see all the data" name="query">
            <button type="submit"><svg class="feather feather-search me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
            </button>
        </form>
        <p></p>
        
        {% for item in data %}
            <tr>
                <td> {{item[0]}} by {{item[1]}}</td>
                </br>
            </tr>
        {% endfor %}
        
    </body>
</html>